{% extends 'layout.html' %}




{% block content %}
<!-- Navbar-->
<div class="container-fluid d-flex justify-content-around mt-5">
    <div class="sekil">
       <a href="#"> <img src="../static/img/logo.png"></a>
    </div>
    <div class="basliqlar">
        <button type="button" class="hamburger" id="hamburger">
            <i class="fa fa-bars" style="font-size:36px"></i>
        </button>
        <ul id="menu" class="basliq d-flex">
           <li> <a href="/" class="cool-link">Əsas Səhifə</a></li>
           <li><a href="/cv" class="cool-link">Cv Nümunələri</a></li>
           <li> <a href="/faydali" class="cool-link">Faydalı Məlumatlar</a></li>
           <li><a href="/haqqimizda" class="cool-link">Haqqımızda</a></li>
            <div id=marker></div>
        </ul>
    </div>
    <div class="elaqe  d-flex">
        <img src="../static/img/telefon.png">
        <h3 class="biz d-flex">BİZƏ</h3>&nbsp;&nbsp;
        <h3 class="d-flex basqa">ZƏNG EDİN</h3>
        <p class="nomre">+99455 634 91 01 <br>+99450 482 68 68</p>
    </div>
</div>

<div class="xet"></div>





<div class="container  d-flex flex-wrap">
    {% for singlePost in content %}
    <div class="cv1 mb-5">
        <a href="singtwo/{{singlePost.id}}"><img src="../static/upload/{{singlePost.img}}">
        <button type="button" class="button1">Ətraflı bax</button>
        
    </a>
    <div class="cercive"></div>
        
        <h4>{{singlePost.kod}}</h4>
        <p>{{singlePost.azSalary}}</p>
        <p>{{singlePost.enSalary}}</p>
    </div>

    {% endfor %}
</div>

<div class="xet mt-5"></div>

<ul class="pagination justify-content-end">
    <li class="page-item"><a class="page-link" href="javascript:void(0);">1</a></li>
      <li class="page-item"><a class="page-link" href="cv2.html">2</a></li>
      <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
      <li class="page-item"><a class="page-link" href="javascript:void(0);">4</a></li>
      <li class="page-item"><a class="page-link" href="javascript:void(0);">Sonraki</a></li>
    </ul>

    <div class="xet mt-3"></div>


    <section id="footer">
        <div class="container">
            <div class="row text-center text-xs-center text-sm-left text-md-left">
               
              
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-3">
                    <ul class="list-unstyled list-inline social text-center">
                         <p class="list-inline-item">Bizi izləyin</p>
                         <li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02"><img src="../static/img/instagram.svg"></a></li>
                         <li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02"><img src="../static/img/face.svg"></a></li>
                         <li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02"><img src="../static/img/youtube.svg"></a></li>
                         <li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02" target="_blank"><img src="../static/img/linkedin.svg"></a></li>
                    </ul>
                </div>
                <hr>
            </div>	
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 text-center text-white">
                   
                    <h2 class="h6">“CV HAZIRLAMA” ASC - Bütün hüquqlar qorunur</h2>
                </div>
                <hr>
            </div>	
        </div>
    </section>


    {% endblock content %}



