{% extends 'layout.html' %}


{% block content %}
<div class="container-fluid d-flex justify-content-around mt-5">
    <div class="sekil">
       <a href="#"> <img src="../static/img/logo.png"></a>
    </div>
    <div class="basliqlar">
        <button type="button" class="hamburger" id="hamburger">
            <i class="fa fa-bars" style="font-size:36px"></i>
        </button>
        <ul id="menu" class="basliq d-flex">
           <li> <a href="index.html" class="cool-link">Əsas Səhifə</a></li>
           <li><a href="cv.html" class="cool-link">Cv Nümunələri</a></li>
           <li> <a href="movzu1.html" class="cool-link">Faydalı Məlumatlar</a></li>
           <li><a href="#" class="cool-link">Haqqımızda</a></li>
            <div id=marker></div>
        </ul>
    </div>
    <div class="elaqe  d-flex">
        <img src="../static/img/telefon.png">
        <h3 class="biz d-flex">BİZƏ</h3>&nbsp;&nbsp;
        <h3 class="d-flex basqa">ZƏNG EDİN</h3>
        <p class="nomre">+99455 634 91 01 <br>+99450 482 68 68</p>
    </div>
</div>

<div class="xet"></div>

<div class="container-fluid orta d-flex flex-wrap justify-content-around">


    <div class="sekil3">
        <img src="../static/img/1.svg" class="img5">
        <h4>İş axtarma müddətinin maddi və psixoloji 
            problemlərini başa düşürük, xidmətin sonunda
             gülümsəməyinizi istəyirik.</h4>
        <img src="../static/img/frame.png" class="gulmek">
       
    </div>

    <div class="row">
        <div class="yazilar1">
            <h2>BİZ KİMİK?</h2>
            <h4>HR menecerlərinin nəzarətində</h4>
           
            <p>STRATEGİYAMIZ "CV HAZIRLAMA" 2018-ci ildən fəaliyyət göstərən
                Creative CV Hazırlama platformsı- dır. Fəaliyyətə başladığı 
                gündən məsuliyyəti, keyfiyyəti, müştəri məmnuniyyətini, 
                dəqiqliyi əsas dəyərlərimiz sayaraq yola çıxdıq. İrəlilədiyimiz bu yolda işini sevən professionallarla komandamız günbəgün boyuyub daha da mehriban ailəyə çevrildi. Qısa zamanda bir çox insan və qurumların CV hazırlama və digər poliqrafiya ilə bağlı xəyallarını reallaş¬dırdıq və bu missiyanı tam məsuliyyəti ilə davam etdiririk. Biz işimizi sevirik ve gördüyümüz işin keyfiyyətinə əminik.</p>
             <button type="button" class="button_2">CV kataloqu</button>
            </div>
    </div>
</div>

<hr>








<section id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
           
          
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-3">
                <ul class="list-unstyled list-inline social text-center">
                     <p class="list-inline-item">Bizi izləyin</p>
                     <li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02"><img src="../static/img/instagram.svg"></a></li>
                         <li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02"><img src="../static/img/face.svg"></a></li>
                         <li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02"><img src="../static/img/youtube.svg"></a></li>
                         <li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02" target="_blank"><img src="../static/img/linkedin.svg"></a></li>
                </ul>
            </div>
            <hr>
        </div>	
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 text-center text-white">
               
                <h2 class="h6">“CV HAZIRLAMA” ASC - Bütün hüquqlar qorunur</h2>
            </div>
            <hr>
        </div>	
    </div>
</section>


{% endblock content %}