{% extends 'admin/layout.html' %}


{% block pageContent %}
<h1 class="mt-4">Yeni Melumat elave et</h1>
<form action='/admin/addfaydali3' method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label for="title3">Title</label>
        <input name='title3' type="text" class="form-control" id="newsHeading" aria-describedby="emailHelp" placeholder="Xəbər başlığı">
    </div>
    <div class="form-group">
        <label for="description3">Description</label>
        <input name='description3' type="text" class="form-control" id="newsHeading" aria-describedby="emailHelp" placeholder="Xəbər başlığı">
    </div>

    <div class="form-group">
        <label for="Photo3">Şəkil</label>
        <input name='Photo3' type="file" class="form-control" id="newsHeading" aria-describedby="emailHelp" placeholder="Xəbər başlığı">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>


{% endblock pageContent %}